
.ExchangeShow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ExchangeShowBody{
  width: 75%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  align-self: flex-start;
}

.ExchangeShowSidebar{
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  padding: 0 25px;
  width: 25%;
  height: 100%;
  overflow: auto;
  background-color: #7b105a;
  padding-bottom: 10px;
}

.ExchangeShowSidebar > p {
  align-self: flex-start;
  font-weight: bold;
  margin-left: 10px;
}

.participants-list{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 400px;
}

.ExchangeMembersHeader{
  text-align: center;
}

.ExchangeMembersInviteButton{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 5px;
}

.remove-exchange{
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(241, 94, 89);
}

.exchangeButton{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 25px;
  cursor: pointer;
}

.ExchangeShowHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aqua;
  height: 200px;
  background-image: url(../../images/snow.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -94px;
}

.ExhangeShowHeaderH1{
  background: rgba(255, 255, 255, 0.507);
}

.ExchangeShowBodyNotHost{
  width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.elepahntExchange{
  height: 100PX;
  width: 100px;
}