.ExchangeShow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ExchangeShowBody{
  width: 75%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.ExchangeShowSidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  padding: 5px;
}

.participants-list{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 400px;
}

.ExchangeMembersHeader{
  text-align: center;
}

.ExchangeMembersInviteButton{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 5px;
}

