.member-option-main {
  position: relative;
}

.member-option-menu {
  position: absolute;
  left: 104px;
  width: 164px;
  background: whitesmoke;
  padding: 8px 12px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0px grey;
  z-index: 2;
}

.member-option-menu i {
  margin-top: 10px;
}

.member-option-menu > div {
  display: flex;
  flex-direction: column;
}

.member-option-menu a {
  margin-bottom: 9px;
}

.remove-member-main {
  position: absolute;
  left: 42px;
  width: 288px;
  background: whitesmoke;
  padding: 8px 12px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0px grey;
  z-index: 2;
}

.remove-member-main > div {
  margin-bottom: 8px;
}

.remove-member-main > div button{
  margin: 0px 20px;
}

