.member-option-main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.optionsMenu{
  align-self: center;
  cursor: pointer;
}

.member-option-main p {
  width: fit-content;

}

/* #click-user {
  cursor: pointer;
} */

.member-menu-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0; 
  background-color: transparent;
  overflow-x: hidden; 
}

.member-option-menu {
  top: 37%;
  margin: 0 auto;
  position: relative;
  width: 229px;
  background: whitesmoke;
  padding: 8px 12px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0px grey;
}

.member-option-menu > div {
  align-items: center;
}

.member-option-menu button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 25px;
  cursor: pointer;
}

.member-option-menu > div > button {
  color: rgb(241, 94, 89);
}

.member-option-menu i {
  margin: 10px;
  cursor: pointer;
  font-size: 27px;
}

.member-option-menu > div {
  display: flex;
  flex-direction: column;
}

.member-option-menu a {
  margin-bottom: 9px;
}

.remove-member-main {
  top: 37%;
  margin: 0 auto;
  position: relative;
  width: 229px;
  background: whitesmoke;
  padding: 13px 12px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0px grey;
}

.remove-member-main > div {
  margin-bottom: 8px;
}

.remove-member-main button {
  margin: 10px 20px;
  width: 67px;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.remove-member-main i {
  cursor: pointer;
  font-size: 27px;
}

.remove-member-main div:nth-child(2) {
  font-weight: bold;
}