.dashboardGreeting{
  text-align: center;
  
}

.dashboardExchangeDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.ExchangesLinks{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}