.dashboardGreeting{
  text-align: center;
  
}

.dashboardExchangeDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.ExchangesLinks{
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  background: lightgray;
}