.item-inject >input{
  width: 80%;
  font-size: 15px;
}

.item-inject button {
  font-size: 20px;
  font-weight: 600;
  background-color: #00b05a;
  border-radius: 50px;
  padding: 5px;
  width: 83%;
  cursor: pointer;
  color: white;
}

.editIcon i {
  font-size: 25px;
}

.itemDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.itemDiv > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

.fa-edit{
  margin-right: 10px;
  cursor: pointer;
}

.fa-trash-alt{
  cursor: pointer;
}

.item-inject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-status {
  display: flex;
  align-items: center;
}

.purchase-status i {
  margin-right: 23px;
}

.purchase-status i:hover {
  cursor: default;
}

.purchase-status p {
  margin: 0;
  margin-right: 6px;
}

.item-li {
  border-bottom: 2px solid lightgrey;
  margin: 10px 0;
  width: 500px;
}

#window-close {
  font-size: 25px;
  margin-left: 95%;
  margin-top: 5px;
}

.item-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-update input {
  font-size: 15px;
}

.item-update button {
  font-size: 16px;
  font-weight: 600;
  background-color: #00b05a;
  border-radius: 50px;
  padding: 5px;
  width: 145px;
  cursor: pointer;
  color: white;
  height: 35px;
}

.item-update label {
  padding-top: 5px;
}