.item-inject >input{
  width: 80%;
  font-size: 15px;
}

.item-inject button {
  cursor: pointer;
}

.editIcon i {
  font-size: 25px;
}

.itemDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.itemDiv > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

.fa-edit{
  margin-right: 10px;
  cursor: pointer;
}

.fa-trash-alt{
  cursor: pointer;
}

.item-inject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-status {
  display: flex;
  align-items: center;
}

.purchase-status i {
  margin-right: 23px;
}

.purchase-status p {
  margin: 0;
  margin-right: 6px;
}

.item-li {
  border-bottom: 2px solid lightgrey;
  margin: 10px 0;
  width: 500px;
}

.item-li > div > i {
  font-size: 25px;
  margin-left: 95%;
  margin-top: 5px;
}

.item-update {
  display: flex;
  justify-content: space-between;
}

.item-update input {
  font-size: 15px;
}

.item-update button {
  width: 132px;
  background-color: aliceblue;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 12px 0;
  padding: 6px 0;
}

.item-update label {
  padding-top: 5px;
}