.item-inject >input{
  width: 80%;

}

.editIcon{
  align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemDiv{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10%;
  align-self: center;
}

.fa-edit{
  margin-right: 10px;
  cursor: pointer;
}

.fa-trash-alt{
  cursor: pointer;
}

.item-inject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}