.shipping-main > div {
  position: relative;
}

.shipping-main button {
  font-size: 20px;
  font-weight: 600;
  background-color: #00b05a;
  border-radius: 50px;
  padding: 5px;
  width: 272px;
  cursor: pointer;
  color: white;
}

.shipping-form {
  position: absolute;
  flex-direction: column;
  width: 315px;
  height: 150px;
  z-index: 2;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  top: 2px;
  background: whitesmoke;
  padding: 8px 12px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0px grey;
}

.shipping-form form {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.shipping-form button {
  margin-top: 14px;
  height: 35px;
  width: 260px;
  font-size: 18px;
}

.shipping-form input {
  width: 254px;
  font-size: 18px;
}

