.HomeImg{
  height: 500px;
  
}

.sliderButtons{
    top: 35%;
    right: 34%;
    position: absolute;
}

.sliderButtons h1{
  background: rgba(255, 255, 255, 0.746);
  padding: 5px 30px;
  border-radius: 25px;
}

.sliderLink{
  width: 100px;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 25px;
  padding: 5px;
  color: #7b105a;
  text-decoration: none;
}

.splashGitDiv{
  background:  #7b105a;
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.splashGitDivLinks{
   display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.gitHeader{
  font-size: 20px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gitLink{
  width: 33.33%;
  height: 400px;
  color: white;
  text-decoration: none;
}

.splashGit{
  color:white;
  font-size: 100px;
}