.navBarMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  border-bottom: rgba(0, 0, 0, 0.493) 1px solid;
}
.mainBody{
  padding: 20px;
  height: 100%;
}

.logoNav{
  color: black;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2%;
  display: flex;
}

.elenav{
    height: 77px;
    margin-right: 5px;
}

.navBtn{
  font-size: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}


#root{
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background: whitesmoke;
}

html{

  background: lightgray;
}