.navBarMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #7b105a;
}
.mainBody{

  padding-bottom: 10px;

}

.logoNav{
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin-left: 2%;
  display: flex;
  font-family: Lato,Arial,Helvetica,sans-serif;
}

.elenav{
    height: 77px;
    margin-right: 5px;
}

.navBtn{
  font-size: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: Lato,Arial,Helvetica,sans-serif;
}


#root{
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background: whitesmoke;
}

html{
font-family: Lato,Arial,Helvetica,sans-serif;
  background: lightgray;
}
body p h2 h3 {
  font-family: Lato,Arial,Helvetica,sans-serif;
}

.mainBG{
  padding-bottom: 50px;
  background: whitesmoke;
}