.search-user-main {
  background: white;
  min-height: 192px;
  width: 300px;
  padding: 6% 20%;
  border-radius: 5px;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fa-check-circle {
  display: none;
  color: #82c91e;
  font-size: 27px;
  margin-top: 9px;
  margin-right: 7px;
  cursor: pointer;
}

.search-user-main input {
  height: 33px;
  width: 290px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-indent: 1px;
}

.search-user-main-submit{
  position: absolute;
  width: 30px;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  right: 9px;
}

.search-user-main img {
  align-self: center
}

.search-user-main li {
  list-style: none;
}

.search-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  right: 72px;
  top: 129px;
  border-radius: 5px;
}

.search-list > div:first-child {
  align-self: flex-end;
  padding-right: 15px;
  font-weight: bold;
  cursor: pointer;
}

.search-list ul {
  padding: 0;
}

.search-list li {
  width: 278px;
  margin: 6px 0;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 6px;
  justify-content: space-between;
}

#user-item {
  padding: 5px;
  cursor: pointer;
}

#user-item div:last-child {
  color: grey;
}

.searchUserlist{
  width: 90%;
  height: 100px;
}

.searchButton{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 136px;
  margin-right: 10px;
  font-size: 16px;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}